.main-content {
  color: black;
  font-family: arial;
  max-width: 80%;
  margin: 0 auto; 
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.the-title {
  max-width: 100%;
  font-weight: bolder;
  font-size: 80px;
  padding: 60px;
  background: -webkit-linear-gradient(cyan,magenta);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.appDescription {
  font-weight: bold;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}
